.makeLookPretty {
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}
h1 {
  line-height: 1.3;
  font-size: 5.2rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
h4 {
  font-size: 2.5rem;
}
p {
  line-height: 1.4;
  font-size: 1.9rem;
}
img {
  max-width: 100%;
  height: auto;
}
.homePageForHelpers {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
.teamPage {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
.homePageForHelpers {
  padding: 1%;
}
.homePageForHelpers header {
  display: flex;
  align-items: center;
}
.homePageForHelpers header .logo {
  width: 61%;
  display: flex;
  align-items: center;
}
.homePageForHelpers header .logo h2 {
  color: #2E2C48;
  padding: 0 1%;
  letter-spacing: 1.2px;
}
.homePageForHelpers header .links {
  width: 39%;
}
.homePageForHelpers header .links nav {
  display: flex;
  justify-content: space-between;
}
.homePageForHelpers header .links nav a {
  text-decoration: none;
  color: #525575;
  font-size: 1.7rem;
}
@media (max-width: 800px) {
  .homePageForHelpers header {
    flex-direction: column;
  }
  .homePageForHelpers header .logo {
    justify-content: center;
    padding-bottom: 5%;
  }
}
@media (max-width: 500px) {
  .homePageForHelpers header {
    flex-direction: row;
    padding: 4%;
  }
  .homePageForHelpers header .logo {
    justify-content: flex-start;
    padding-bottom: 0;
    width: 51%;
  }
  .homePageForHelpers header .logo h2 {
    display: none;
  }
  .homePageForHelpers header .links {
    display: none;
  }
  .homePageForHelpers header .onlyForMobile nav {
    padding-right: 3%;
  }
  .homePageForHelpers header .onlyForMobile nav a {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
  }
  .homePageForHelpers header .onlyForMobile button {
    color: #FFFFFF;
    background: #2E2C48;
    font-style: normal;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    padding: 1% 3%;
  }
}
.homePageForHelpers .middleSection {
  padding: 10% 0;
  display: flex;
}
.homePageForHelpers .middleSection .leftSide {
  width: 61%;
  padding-top: 9.5%;
  padding-left: 9%;
}
.homePageForHelpers .middleSection .leftSide h1 {
  letter-spacing: 0.8px;
}
.homePageForHelpers .middleSection .leftSide p {
  padding-bottom: 5%;
  color: #525575;
}
.homePageForHelpers .middleSection .leftSide button {
  font-size: 3rem;
  font-weight: bold;
  padding: 25px 87px;
  background: #0AC3CF;
  border-radius: 14px;
  border: none;
}
.homePageForHelpers .middleSection .rightSide {
  width: 39%;
}
@media (max-width: 800px) {
  .homePageForHelpers .middleSection {
    padding: 10% 5%;
  }
  .homePageForHelpers .middleSection .leftSide {
    padding-top: 10.5%;
    padding-left: 0;
  }
  .homePageForHelpers .middleSection .leftSide h1 {
    font-size: 3.8rem;
  }
  .homePageForHelpers .middleSection .leftSide button {
    font-size: 2rem;
    padding: 2% 13%;
  }
}
@media (max-width: 500px) {
  .homePageForHelpers .middleSection {
    padding: 4%;
    flex-direction: column;
  }
  .homePageForHelpers .middleSection .leftSide {
    width: 70%;
    padding-top: 7%;
    padding-left: 0;
  }
  .homePageForHelpers .middleSection .leftSide h1 {
    font-size: 3.6rem;
  }
  .homePageForHelpers .middleSection .leftSide p {
    padding-bottom: 9%;
    color: #525575;
  }
  .homePageForHelpers .middleSection .leftSide p #hideInMobile {
    display: none;
  }
  .homePageForHelpers .middleSection .leftSide button {
    font-size: 2.3rem;
    line-height: 26px;
    padding: 3% 13%;
    background: #0AC3CF;
    border-radius: 8px;
    border: none;
  }
  .homePageForHelpers .middleSection .rightSide {
    margin-top: 17%;
    margin-bottom: 6%;
    margin-left: 20%;
    width: 55%;
  }
}
.homePageForHelpers .onlyForMobile {
  display: none;
}
@media (max-width: 500px) {
  .homePageForHelpers .onlyForMobile {
    display: contents;
  }
  .homePageForHelpers .onlyForMobile footer {
    padding: 4%;
    border-top: 1px solid #E0E0E0;
    background: #F9FAFB;
  }
  .homePageForHelpers .onlyForMobile footer .LinksOnTheBottom {
    display: flex;
    flex-direction: column;
  }
  .homePageForHelpers .onlyForMobile footer .LinksOnTheBottom a {
    padding: 1.3% 0;
    text-decoration: none;
    color: #525575;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: bold;
  }
  .homePageForHelpers .onlyForMobile footer p {
    padding-top: 3%;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: normal;
    color: #646378;
  }
}
.teamPage {
  padding: 1%;
}
.teamPage header {
  display: flex;
  align-items: center;
}
.teamPage header .logo {
  width: 61%;
  display: flex;
  align-items: center;
}
.teamPage header .logo h2 {
  color: #2E2C48;
  padding: 0 1%;
  letter-spacing: 1.2px;
}
.teamPage header .links {
  width: 39%;
}
.teamPage header .links nav {
  display: flex;
  justify-content: space-between;
}
.teamPage header .links nav a {
  text-decoration: none;
  color: #525575;
  font-size: 1.7rem;
}
@media (max-width: 800px) {
  .teamPage header {
    flex-direction: column;
  }
  .teamPage header .logo {
    justify-content: center;
    padding-bottom: 5%;
  }
}
@media (max-width: 500px) {
  .teamPage header {
    flex-direction: row;
    padding: 4%;
  }
  .teamPage header .logo {
    justify-content: flex-start;
    padding-bottom: 0;
    width: 51%;
  }
  .teamPage header .logo h2 {
    display: none;
  }
  .teamPage header .links {
    display: none;
  }
  .teamPage header .onlyForMobile nav {
    padding-right: 3%;
  }
  .teamPage header .onlyForMobile nav a {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
  }
  .teamPage header .onlyForMobile button {
    color: #FFFFFF;
    background: #2E2C48;
    font-style: normal;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    padding: 1% 3%;
  }
}
.teamPage .Developers {
  display: flex;
  flex-direction: column;
}
.teamPage .Developers p {
  padding: 1% 2%;
  font-size: 2.3rem;
  font-weight: bold;
}
.teamPage .Developers .UX {
  padding: 3% 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.teamPage .Developers .UX a {
  width: 40%;
}
.teamPage .Developers .UX a div {
  border: 1px solid black;
  width: 100%;
}
.teamPage .Developers .UI {
  padding: 3% 0;
  display: flex;
  justify-content: space-evenly;
}
.teamPage .Developers .UI a {
  width: 40%;
}
.teamPage .Developers .UI a div {
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.teamPage .Developers .ReactOne {
  padding: 3% 0;
  display: flex;
  justify-content: space-evenly;
}
.teamPage .Developers .ReactOne a {
  width: 40%;
}
.teamPage .Developers .ReactOne a div {
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.teamPage .Developers .ReactTwo {
  padding: 3% 0;
  display: flex;
  justify-content: space-evenly;
}
.teamPage .Developers .ReactTwo a {
  width: 40%;
}
.teamPage .Developers .ReactTwo a div {
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.teamPage .Developers .BackEnd {
  padding: 3% 0;
  display: flex;
  justify-content: space-evenly;
}
.teamPage .Developers .BackEnd a {
  width: 40%;
}
.teamPage .Developers .BackEnd a div {
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
@media (max-width: 800px) {
  .teamPage .Developers p {
    font-size: 1.5rem;
  }
}
.teamPage .onlyForMobile {
  display: none;
}
@media (max-width: 500px) {
  .teamPage .onlyForMobile {
    display: contents;
  }
  .teamPage .onlyForMobile footer {
    padding: 4%;
    border-top: 1px solid #E0E0E0;
    background: #F9FAFB;
  }
  .teamPage .onlyForMobile footer .LinksOnTheBottom {
    display: flex;
    flex-direction: column;
  }
  .teamPage .onlyForMobile footer .LinksOnTheBottom a {
    padding: 1.3% 0;
    text-decoration: none;
    color: #525575;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: bold;
  }
  .teamPage .onlyForMobile footer p {
    padding-top: 3%;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: normal;
    color: #646378;
  }
}
