
.homePageForHelpers {
  padding: 1%;

  header {
    display: flex;
    align-items: center;

    .logo{
      width: 61%;
      display: flex;
      align-items: center;

      h2{        
        color: #2E2C48;
        padding: 0 1%;
        letter-spacing: 1.2px;
      }

    }//.logo

    .links{
      width: 39%;

      nav{
        display: flex;
        justify-content: space-between;

        a{
          text-decoration: none;
          color: #525575;
          font-size: 1.7rem;
        }//a
      }//nav
    }//links.
  }//header

  .middleSection{
    
    padding: 10% 0;
    display: flex;

    .leftSide{

      width: 61%;
      padding-top: 9.5%;
      padding-left: 9%;

      h1{
        height: 140px;
        letter-spacing: 0.8px;
      }

      p{
        padding-bottom: 5%;
        color: #525575;
      }

      button{
        font-size: 3rem;
        font-weight: bold;

        padding: 25px 87px;
        background: #0AC3CF;
        border-radius: 14px;
      }//button

    }//.leftSide

    .rightSide{

      width: 39%;

    }//.rightSide

  }//.middleSection
}// homePageForHelpers